<div class="d-flex justify-content-between">
  <div class="d-flex">
    <%= image_tag 'profile_pic.jpg', class: "img-thumbnail rounded-circle", style:"width: 2.5rem" %>
    <div class="d-flex flex-column mx-2">
      <small class="fw-bold" style="max-width:10rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">Tuck Seng</small>
      <small class="text-muted" style="font-size:.7rem; max-width:10rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">Suggested for you by Instagram sadasdasdasdasd</small>
    </div>
  </div>

  <%= link_to root_path, style:"text-decoration:none" do %>
  <small class="fw-bold text-primary">Follow</small>
  <% end %>
</div>
